ion-slide{
    height: 100%;
    width: 100%;
}
.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .swiper-zoom-container > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
#teste_div{
    top: 587px;
    left: 335px;
}
ion-icon {
  font-size: 40px; //Preferred size here
}
ion-card{
  background-color: rgba(255,0,0,0.5);
}