.avatar{   
    max-width: 100px;
    max-height: 130px;
    text-align: center;
    padding: 20px;
}

.nomeAnimal{
    font-size: 0.8em;
    color: grey;
    margin: 10px 0px 0px 0px;
    padding: 0;
}