.avatar{   
    border: 1px solid black;
    max-width: 100px;
    max-height: 130px;
}

ion-avatar{
    margin: auto;
}

.nomeAnimal{
    font-size: 0.8em;
    color: grey;
    margin: 10px 0px 0px 0px;
    padding: 0;
}