.avatar{
    border: 1px solid black;    
    max-width: 100px;
    max-height: 130px;
    text-align: center;
    padding: 20px;
}

.nomeAnimal{
    --font-size: 0.8em;
    --color: rgb(80, 76, 76);
    --margin: 0;
    --padding: 0;
}