<ion-header>
  <ion-toolbar>
    <ion-title> Mapa </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()"
[scrollX]="true"
[scrollY]="true"
[fullscreen]="true" style="width: 100vw;" >
  <ion-slides [options]="sliderOpts" #slider >
    <ion-slide style="width: 100vw;height: 100vw;" >
      <div class="swiper-zoom-container"(click)="getCoordinates($event)"(onclick)="getCoordinates($event)">
        <img src="assets/imgs/mapa.jpg" usemap="#testemap" > 
       <!-- <map name="testemap">
          <area shape="circle" coords="((3325*{{tamanho}})/14174),((5562*{{tamanho}})/14174),165*{{tamanho}}/14174" alt="Grandes Primatas Brasileiros" (click)="SetCard('Grandes_Primatas')">
          <area shape="circle" coords="(4109*{{tamanho}})/14174,(5610*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Grandes Primatas Brasileiros" (click)="SetCard('Grandes_Primatas')" >
          <area shape="circle" coords="(3372*{{tamanho}})/14174,(6010*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Pequenos Primatas Brasileiros" (click)="SetCard('Pequenos_Primatas')" >
          <area shape="circle" coords="(4176*{{tamanho}})/14174,(5966*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Pequenos e médios Psitacídeos" (click)="SetCard('Pequenos_Medios_Psitacideos')" >
          <area shape="circle" coords="(3535*{{tamanho}})/14174,(6343*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Pavões e Faisões" (click)="SetCard('Pavoes_Faisoes')" >
          <area shape="circle" coords="(4719*{{tamanho}})/14174,(6513*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Marreco" (click)="SetCard('Marreco')" >
          <area shape="circle" coords="(4328*{{tamanho}})/14174,(7020*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Tamanduá Bandeira" (click)="SetCard('Tamandua_Bandeira')" >
          <area shape="circle" coords="(3725*{{tamanho}})/14174,(7236*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Primatas Africanos" (click)="SetCard('Primatas_Africanos')" >
          <area shape="circle" coords="(3967*{{tamanho}})/14174,(7687*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Furão" (click)="SetCard('Furao')" >
          <area shape="circle" coords="(4650*{{tamanho}})/14174,(7553*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Herpestidae" (click)="SetCard('Herpestidae')" >
          <area shape="circle" coords="(4926*{{tamanho}})/14174,(7825*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Grou Coroado" (click)="SetCard('Grou_Coroado')" >
          <area shape="circle" coords="(3686*{{tamanho}})/14174,(8588*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Corujas" (click)="SetCard('Corujas')" >
          <area shape="circle" coords="(2435*{{tamanho}})/14174,(9037*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Aves Gigantes" (click)="SetCard('Aves_Gigantes')" >
          <area shape="circle" coords="(4257*{{tamanho}})/14174,(10184*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Aves Gigantes" (click)="SetCard('Aves_Gigantes')" >
          <area shape="circle" coords="(6983*{{tamanho}})/14174,(9186*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Aves Gigantes" (click)="SetCard('Aves_Gigantes')" >
          <area shape="circle" coords="(7707*{{tamanho}})/14174,(8910*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Aves Gigantes" (click)="SetCard('Aves_Gigantes')" >
          <area shape="circle" coords="(5639*{{tamanho}})/14174,(7978*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Grandes Psitacídeos" (click)="SetCard('Grandes_Psitacideos')" >
          <area shape="circle" coords="(6164*{{tamanho}})/14174,(5682*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Grandes Ramphastídeos" (click)="SetCard('Grandes_Ramphastideos')" >
          <area shape="circle" coords="(6200*{{tamanho}})/14174,(6121*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Cracídeos" (click)="SetCard('Cracideos')" >
          <area shape="circle" coords="(6419*{{tamanho}})/14174,(6894*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Ouríço" (click)="SetCard('Ourico')" >
          <area shape="circle" coords="(6296*{{tamanho}})/14174,(7437*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Pequenos e Médios Felinos" (click)="SetCard('Pequenos_Medios_Felinos')" >
          <area shape="circle" coords="(6503*{{tamanho}})/14174,(7981*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Aquário" (click)="SetCard('Aquario')" >
          <area shape="circle" coords="(7499*{{tamanho}})/14174,(7251*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Anta" (click)="SetCard('Anta')" >
          <area shape="circle" coords="(7463*{{tamanho}})/14174,(7919*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Anta" (click)="SetCard('Anta')" >
          <area shape="circle" coords="(7671*{{tamanho}})/14174,(6543*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Lobo Guará" (click)="SetCard('Lobo_Guara')" >
          <area shape="circle" coords="(7009*{{tamanho}})/14174,(6320*{{tamanho}})/14174,(165*{{tamanho}})/14174" alt="Gralhas" (click)="SetCard('Gralhas')" >
        </map> -->
        <ion-fab #fab_Grandes_Primatas>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Grandes_Primatas')">
              <ion-card-header>
                <ion-card-title>Grandes Primatas</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>
                <img src="assets/imgs/grandes_primatas.jpg" > 
                <p>Descrição do setor <p> 
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>
        <ion-fab #fab_Pequenos_Primatas_Brasileiros>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Pequenos_Primatas_Brasileiros')">
              <ion-card-header>
                <ion-card-title>Pequenos Primatas Brasileiros</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/pequenos_primatas_brasileiros.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>
        <ion-fab #fab_Pequenos_Medios_Psitacideos>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Pequenos_Medios_Psitacideos')">
              <ion-card-header>
                <ion-card-title>Pequenos e Médios Psitacídeos</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/psitacideo.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>                 
        <ion-fab #fab_Pavoes_Faisoes>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Pavoes_Faisoes')">
              <ion-card-header>
                <ion-card-title>Pavões e Faisões</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>
                <img src="assets/imgs/pavoes_faisoes.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>
        <ion-fab #fab_Marreco>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Marreco')">
              <ion-card-header>
                <ion-card-title>Marreco</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>               
                <img src="assets/imgs/marreco.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>                     
        <ion-fab #fab_Tamandua_Bandeira>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Tamandua_Bandeira')">
              <ion-card-header>
                <ion-card-title>Tamanduá Bandeira</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/tamandua_bandeira.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>                 
        <ion-fab #fab_Primatas_Africanos>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Primatas_Africanos')">
              <ion-card-header>
                <ion-card-title>Primatas Africanos</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/primatas_africanos.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>  
        <ion-fab #fab_Furao>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Furao')">
              <ion-card-header>
                <ion-card-title>Furão</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/furao.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>     
        <ion-fab #fab_Herpestidae>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Herpestidae')">
              <ion-card-header>
                <ion-card-title>Herpestidae</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/herpestidae.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>       
        <ion-fab #fab_Grou_Coroado>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Grou_Coroado')">
              <ion-card-header>
                <ion-card-title>Grou Coroado</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/grou_coroado.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>            
        <ion-fab #fab_Corujas>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Corujas')">
              <ion-card-header>
                <ion-card-title>Corujas</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/corujas.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>       
        <ion-fab #fab_Aves_Gigantes>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Aves_Gigantes')">
              <ion-card-header>
                <ion-card-title>Aves Gigantes</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/aves_gigantes.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>                 
        <ion-fab #fab_Grandes_Psitacideos>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Grandes_Psitacideos')">
              <ion-card-header>
                <ion-card-title>Grandes Psitacídeos</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/psitacideo.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>                 
        <ion-fab #fab_Grandes_Ramphastideos>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Grandes_Ramphastideos')">
              <ion-card-header>
                <ion-card-title>Grandes Ramphastídeos</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/grandes_ramphastideos.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>                 
        <ion-fab #fab_Cracideos>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Cracideos')">
              <ion-card-header>
                <ion-card-title>Cracideos</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/cracideos.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>                 
        <ion-fab #fab_Ouriço>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Ouriço')">
              <ion-card-header>
                <ion-card-title>Ouríço</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/ouriço.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>     
        <ion-fab #fab_Pequenos_Medios_Felinos>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Pequenos_Medios_Felinos')">
              <ion-card-header>
                <ion-card-title>Pequenos e Médios Felinos</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>               
                <img src="assets/imgs/pequenos_medios_felinos.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>       
        <ion-fab #fab_Aquario>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Aquario')">
              <ion-card-header>
                <ion-card-title>Aquário</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/aquario.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>           
        <ion-fab #fab_Anta>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Anta')">
              <ion-card-header>
                <ion-card-title>Anta</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/anta.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>       
        <ion-fab #fab_Lobo_Guara>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Lobo_Guara')">
              <ion-card-header>
                <ion-card-title>Lobo Guará</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/lobo_guara.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>            
        <ion-fab #fab_Gralhas>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Gralhas')">
              <ion-card-header>
                <ion-card-title>Gralhas</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/gralhas.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>       
        <ion-fab #fab_Turaco_Orelha>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Turaco_Orelha')">
              <ion-card-header>
                <ion-card-title>Turaco de Orelha</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/turaco_orelha.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>           
        <ion-fab #fab_Irara>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Irara')">
              <ion-card-header>
                <ion-card-title>Irara</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/irara.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>       
        <ion-fab #fab_Canguru>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Canguru')">
              <ion-card-header>
                <ion-card-title>Canguru</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/canguru.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>       
        <ion-fab #fab_Aves_Ribeirinhas>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Aves_Ribeirinhas')">
              <ion-card-header>
                <ion-card-title>Aves Ribeirinhas</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/aves_ribeirinhas.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>                    
        <ion-fab #fab_Flamingo>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Flamingo')">
              <ion-card-header>
                <ion-card-title>Flamingo</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/flamingo.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>  
        <ion-fab #fab_Antilopes>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Antilopes')">
              <ion-card-header>
                <ion-card-title>Antílopes</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/antilopes.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>       
        <ion-fab #fab_Cervideos>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Cervideos')">
              <ion-card-header>
                <ion-card-title>Cervídeos</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/cervideos.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>       
        <ion-fab #fab_Pinguinario>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Pinguinario')">
              <ion-card-header>
                <ion-card-title>Pinguinário</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/pinguinario.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>       
        <ion-fab #fab_Casa_Repteis>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Casa_Repteis')">
              <ion-card-header>
                <ion-card-title>Casa dos Répteis</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/repteis.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>                    
        <ion-fab #fab_Grandes_Felinos>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Grandes_Felinos')">
              <ion-card-header>
                <ion-card-title>Grandes Felinos</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/grandes_felinos.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>                   
        <ion-fab #fab_Camelideos>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Camelideos')">
              <ion-card-header>
                <ion-card-title>Camelídeos</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>               
                <img src="assets/imgs/camelideos.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>                   
        <ion-fab #fab_Atoba>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Atoba')">
              <ion-card-header>
                <ion-card-title>Atobá</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/atoba.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>       
        <ion-fab #fab_Passariformes>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Passariformes')">
              <ion-card-header>
                <ion-card-title>Passariformes</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/passariformes.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>        
        <ion-fab #fab_Aves_Rapina>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Aves_Rapina')">
              <ion-card-header>
                <ion-card-title>Aves de Rapina</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/aves_rapina.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>         
        <ion-fab #fab_Ilha_Primatas_Lago>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Ilha_Primatas_Lago')">
              <ion-card-header>
                <ion-card-title>Ilha dos Primatas e Lago</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/primatas_lago.jpg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>                      
        <ion-fab #fab_Portaria>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Portaria')">
              <ion-card-header>
                <ion-card-title>Portaria</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>               
                <img src="assets/imgs/img_1.jpeg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>      
        <ion-fab #fab_Praça_Alimentaçao>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Praça_Alimentaçao')">
              <ion-card-header>
                <ion-card-title>Praça de Alimentação</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/img_1.jpeg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>          
        <ion-fab #fab_Bebedouro>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Bebedouro')">
              <ion-card-header>
                <ion-card-title>Bebedouro</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/img_1.jpeg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>       
        <ion-fab #fab_Lanchonete>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Lanchonete')">
              <ion-card-header>
                <ion-card-title>Lanchonete</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/img_1.jpeg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>       
        <ion-fab #fab_EX>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('EX')">
              <ion-card-header>
                <ion-card-title>EX ??????</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/img_1.jpeg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>           
        <ion-fab #fab_Centro_Educaçao_Ambiental>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Centro_Educaçao_Ambiental')">
              <ion-card-header>
                <ion-card-title>Centro de Educação Ambiental</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/img_1.jpeg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>                 
        <ion-fab #fab_Administraçao>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Administraçao')">
              <ion-card-header>
                <ion-card-title>Administração</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/img_1.jpeg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>         
        <ion-fab #fab_Viveiro_Plantas>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Viveiro_Plantas')">
              <ion-card-header>
                <ion-card-title>Viveiro de Plantas</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/img_1.jpeg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>        
        <ion-fab #fab_Setor_Nutriçao>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Setor_Nutriçao')">
              <ion-card-header>
                <ion-card-title>Setor de Nutrição</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/img_1.jpeg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>   
        <ion-fab #fab_Setor_Veterinario>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Setor_Veterinario')">
              <ion-card-header>
                <ion-card-title>Setor Veterinário</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/img_1.jpeg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>                   
        <ion-fab #fab_Banheiro>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Banheiro')">
              <ion-card-header>
                <ion-card-title>Banheiro</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>                
                <img src="assets/imgs/img_1.jpeg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>     
        <ion-fab #fab_Anfiteatro>
          <ion-fab list side="right">
            <ion-card *ngIf="Card('Anfiteatro')">
              <ion-card-header>
                <ion-card-title>Anfiteatro</ion-card-title>
              </ion-card-header>
              <ion-card-content fullscreen>               
                <img src="assets/imgs/img_1.jpeg"> 
                <p>Descrição do setor </p>
                <ion-button> ir para o setor</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-fab>
        </ion-fab>                                                                                                                                                                                                                                                                                  
      </div>          
    </ion-slide>    
  </ion-slides>
</ion-content>
