.custom-header {
    background: linear-gradient(197deg, rgba(182, 255, 176,1) 0%, rgba(144, 251, 170,1) 13.5%, rgba(98, 243, 165,1) 33.33%, rgba(55, 232, 159,1) 100%) !important;
    padding: 20px !important;
}

.card-info{
    margin-top: -20px;
    --background: white !important;
    border-radius: 20px;
    box-shadow: 3px 2px 10px 10px rgba($color: grey, $alpha: 0.1);
}

ion-card-content {
    padding: 10px;
}

ion-avatar {
    margin: auto;
    width: 150px;
    height: 150px;
}

/** Estilos do card de infomrações */
.nomePopular, .atributo{
    font-weight: bolder;
    color: black;
}

.nomePopular{
    font-size: 23px;
}

.nomeCientifico, .secao{
    font-size: 0.8em;
    font-style: italic;
}

.galeria-button{
    border: 1px solid black;
    height: 20px;
    width: 100px;
    margin: auto;
    text-align: center;
}

.bagde-info{
    height: 80px;
    width: 80px;
    background: linear-gradient(197deg, rgba(247, 210, 165,1) 0%, rgba(236, 188, 147,1) 13.5%, rgba(251, 162, 124,1) 33.33%, rgba(255, 119, 86,1) 100%) !important;
    border-radius: 50%;
    margin: auto;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;

    .text-badge{
        height: 60px;
        width: 60px;
        color: black;
        margin: auto;
        font-weight: bolder;
        font-size: 15px;
        text-align: center;
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }
}

.badge-indicator{
    color: black;
    margin: auto;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
}