.custom-header {
    min-height: 70px;
    background: linear-gradient(197deg, rgba(182, 255, 176,1) 0%, rgba(144, 251, 170,1) 13.5%, rgba(98, 243, 165,1) 33.33%, rgba(55, 232, 159,1) 100%) !important;
    padding: 20px !important;
}

.segment{
    background: white; 
    align-content: center;
    border: 0.5px solid lightgray;
    border-radius: 50px;
    height: 60px; 
    margin: 10px;
    margin-top: -50px;
    padding-left: 20px;
    padding-top: 5px;

    ion-button{
        display: inline-flex;
        margin: 0 auto;
        --background: white !important;
        --color: lightgray;
        --border: 1px solid black;
        --border-radius: 40px;
        --background-activated: #01DF74;
        --background-focused: #01DF74;
        --box-shadow: 0px 5px 8px 0px lightgray;
    }
}

.content {
    text-align: center;
    align-items: center;
   
    * {
        margin: auto;
        text-align: center;
    }
}
